@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #ebecee;
    --cor-branco-primario: #ffffff;
    --cor-laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-primaria: "Poppins";

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-primaria);
    font-size: 1em;
    font-weight: 400;
}