.carrossel {
    font-family: var(--fonte-primaria);
}


.carrossel__titulo {
    text-transform: uppercase;
    padding: 1em 0.5em;
    color: var(--cor-laranja);
    background-color: var(--cor-branco-primario);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.8em 0;
}

.card {
    font-family: var(--fonte-primaria);
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.descricao__titulo {
    color: var(--cor-laranja);
    font-size: 1rem;
    font-weight: 700;

}

.descricao__titulo__livro {
    color: var(--cor-azul);
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0.5em 0.5em 0.5em 0;

}

.descricao__texto {
    color: var(--cor-azul);
    margin: 0.5em 0.5em 0.5em 0;
    font-size: 1rem;

}

.botoes {
    display: flex;

}

.card {
    background: var(--cor-branco-primario);
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    margin: 1em;
}


.card__botoes {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.botoes__ancora {
    padding: 1em 1.8em;
    background-color: var(--cor-laranja);
    color: var(--cor-branco-primario);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.botoes__item {
    margin: 0em 0.5em 0 0;
}

.descricao__estrelas {
    margin: 1em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.625rem;
    }

    .swiper-pagination {
        position: initial;
        margin: 1.6em 0 1.8em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 2em auto;

    }

    .descricao__titulo {
        font-size: 1.125rem;
        margin-top: 1em;
    }

    .descricao__titulo__livro {
        font-size: 1.25rem;
        margin: 1.25em 0;
    }

    .descricao__texto {
        font-size: 1.125rem;
    }

}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0.5em 10vw 1.5em 10vw;
        align-items: center;
    }

    .swiper-pagination {
        position: initial;
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descricao__titulo {
        font-size: 2rem;
        margin-top: 1em;
    }

    .card {
        margin-left: 3em;
        width: 45%;
    }

    .carrossel__autor {
        display: flex;
        margin: 1em 10vw 1em 10vw;
        align-items: center;
        justify-content: baseline;

    }

    .titulo__autor {
        font-size: 2rem;
        margin-top: 0.5em;
    }
}