.carrossel {
    font-family: var(--fonte-primaria);
}


.carrossel__titulo {
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    color: var(--cor-laranja);
    background-color: var(--cor-branco-primario);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.8em 0;
}

.card {
    font-family: var(--fonte-primaria);
}

.card__descricao {
    display: flex;
    justify-content: space-between;

}

.descricao__titulo {
    color: var(--cor-laranja);
    font-size: 1rem;
    font-weight: 700;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}