.cabecalho__hamburguer {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: var(--cor-branco-primario);
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__imagem__titulo,
.container__titulo,
.container__botao,
.opcoes,
.favoritos,
.lista__menu {
    display: none;
}

.lista__menu {
    background-color: var(--cor-branco-primario);
    position: absolute;
    top: 100%;
    width: 60vw
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo,
.lista__menu__item {
    padding: 1em;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;

}

.lista__menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista__menu__item {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {

        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
        display: flex;
        justify-content: baseline;
        color: var(--cor-preto);
    }

    .container__titulo {
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__botao,
    .container__botao:checked,
    .cabecalho__hamburguer,
    .lista-menu {
        display: none;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item a,
    .lista-menu__item a {
        text-decoration: none;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .opcoes__item a {
        color: var(--cor-preto);
    }


    .lista-menu {
        background-color: var(--cor-branco-primario);
        position: absolute;
        top: 100%;
        width: 60vw
    }

    .opcoes-botao:checked~.lista-menu {
        display: block;
        width: auto;

    }

    .opcoes-botao {
        display: none;
    }

    .lista-menu__item {
        color: var(--cor-azul);
        padding: 0.8em;
    }

    .lista-menu__item a {
        color: var(--cor-azul);
        font-size: 1rem;
    }

}

@media screen and (min-width: 1728px) {
    .container__imagem__titulo {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
        font-size: 1.25rem;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}