.linha__branca {
    background-color: var(--cor-branco-primario);
    padding: 0.5em;
}

.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
    font-family: var(--fonte-primaria);
}

.topicos__titulo {
    text-transform: uppercase;
    color: var(--cor-branco-primario);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos__item {
    background-color: var(--cor-laranja);
    margin: 1em 0.4em;
    padding: 1em;
}

.topicos__item a {
    text-decoration: none;
    color: var(--cor-branco-primario);
    font-size: 0.875rem;
    font-weight: 700;

}

@media screen and (min-width: 1024px) {
    .linha__branca {
        display: none;
    }

    .topicos {
        padding: 2em 10vw;

    }

    .topicos__titulo {
        font-size: 1.5rem;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .topicos__item a {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .topicos__item {
        margin: 1em;
        padding: 2em;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 25vw;

    }

    .topicos__item {
        margin: 1em;
        padding: 2em;
    }

    .topicos__titulo {
        font-size: 2rem;
    }

    .topicos__item a {
        font-size: 1.5rem;
    }
}